In [ ]:
//SYED UNAIS 402 DIV-7- Q1
#include <stdio.h>
int main() {
    int amt, n100, n50, n10, n5, n2, n1;
    scanf("%d", &amt);
    n100 = amt / 100; amt %= 100;
    n50 = amt / 50; amt %= 50;
    n10 = amt / 10; amt %= 10;
    n5 = amt / 5; amt %= 5;
    n2 = amt / 2; amt %= 2;
    n1 = amt;
    printf("%d %d %d %d %d %d\n", n100, n50, n10, n5, n2, n1);
    return 0;
}

UsageError: Cell magic `%%cu` not found.

In [ ]:
// SYED UNAIS 402 DIV-7- Q2
#include <stdio.h>
int main() {
    int r, s, a;
    scanf("%d %d %d", &r, &s, &a);
    if (r < s && r < a) printf("Ram\n");
    else if (s < a) printf("Shyam\n");
    else printf("Ajay\n");
    return 0;
}

In [ ]:
// SYED UNAIS 402 DIV-7- Q3
#include <stdio.h>
int main() {
    float km;
    scanf("%f", &km);
    printf("%.2f %.2f %.2f %.2f\n", km * 1000, km * 3280.84, km * 39370.1, km * 100000);
    return 0;
}

In [ ]:
// SYED UNAIS 402 DIV-7- Q4
#include <stdio.h>
int main() {
    int x, y;
    scanf("%d %d", &x, &y);
    printf("%d\n", 6 * x + y);
    return 0;
}

In [ ]:
// SYED UNAIS 402 DIV-7- Q5
#include <stdio.h>
#include <math.h>
int main() {
    float a, b, x, y;
    scanf("%f %f %f %f", &a, &b, &x, &y);
    printf("%.2f\n", (a * x + b) / (a * x - b));
    printf("%.2f\n", 2.5 * log(x) + sin(53) + sqrt(2 * x * y));
    return 0;
}

In [ ]:
// SYED UNAIS 402 DIV-7- Q6
#include <stdio.h>
int main() {
    int x;
    scanf("%d", &x);
    printf(x == 25 ? "CHRISTMAS\n" : "ORDINARY\n");
    return 0;
}

In [ ]:
// SYED UNAIS 402 DIV-7- Q7
#include <stdio.h>
int main() {
    for (int i = 1; i <= 3; i++)
        for (int j = 1; j <= 3; j++)
            for (int k = 1; k <= 3; k++)
                printf("%d%d%d\n", i, j, k);
    return 0;
}

In [ ]:
// SYED UNAIS 402 DIV-7 - Q 8
#include <stdio.h>
int main() {
    char ch;
    int y;
    scanf(" %c %d", &ch, &y);
    printf(ch >= 'a' && ch <= 'z' ? "Lowercase\n" : "Not Lowercase\n");
    printf((y % 4 == 0 && y % 100 != 0) || y % 400 == 0 ? "Leap Year\n" : "Not Leap Year\n");
    return 0;
}

In [ ]:
// SYED UNAIS 402 DIV-7 - Q 9
#include <stdio.h>
int main() {
    int h, t;
    float c;
    scanf("%d %f %d", &h, &c, &t);
    if (h > 60 && c < 0.8 && t > 7500) printf("10\n");
    else if (h > 60 && c < 0.8) printf("9\n");
    else if (c < 0.8 && t > 7500) printf("8\n");
    else if (h > 60 && t > 7500) printf("7\n");
    else if (h > 60 || c < 0.8 || t > 7500) printf("6\n");
    else printf("5\n");
    return 0;
}

In [ ]:
// SYED UNAIS 402 DIV-7 - Q10
#include <stdio.h>
int main() {
    int age, amt;
    char gender, loc;
    scanf("%d %c %c %d", &age, &gender, &loc, &amt);
    if (age >= 25 && age <= 35 && loc == 'c') {
        if (gender == 'm' && amt <= 300000) printf("%d\n", amt * 10 / 1000);
        else if (gender == 'f' && amt <= 500000) printf("%d\n", amt * 15 / 1000);
    } else printf("Not Eligible\n");
    return 0;
}

In [ ]:
// SYED UNAIS 402 DIV-7 - Q 11
#include <stdio.h>
int main() {
    float amt, disc;
    scanf("%f", &amt);
    if (amt >= 100 && amt <= 200) disc = 0.05;
    else if (amt <= 500) disc = 0.075;
    else if (amt <= 800) disc = 0.1;
    else disc = 0.15;
    printf("%.2f\n", amt - amt * disc);
    return 0;
}

In [ ]:
// SYED UNAIS 402 DIV-7 - Q 12
#include <stdio.h>
int main() {
    float sal, tax = 0;
    scanf("%f", &sal);
    if (sal > 200000) {
        if (sal <= 500000) tax = (sal - 200000) * 0.1;
        else if (sal <= 1000000) tax = 30000 + (sal - 500000) * 0.2;
        else tax = 130000 + (sal - 1000000) * 0.3;
    }
    printf("%.2f\n", tax);
    return 0;
}

In [ ]:
// SYED UNAIS 402 DIV-7 - Q 13
#include <stdio.h>
int main() {
    int x, y, z;
    x = 2 + 3 - 4 + 5 - (6 - 7);
    y = 2 * 33 + 4 * (5 - 6);
    z = 2 * 3 * 4 / 15 % 13;
    printf("%d %d %d\n", x, y, z);
    return 0;
}

In [ ]:
// SYED UNAIS 402 DIV-7 - Q14
#include <stdio.h>
int main() {
    int n, sum = 0, num;
    scanf("%d", &n);
    for (int i = 0; i < n; i++) {
        scanf("%d", &num);
        sum += num;
    }
    printf("%.2f\n", (float)sum / n);
    return 0;
}

In [ ]:
// SYED UNAIS 402 DIV-7 - Q 15
#include <stdio.h>
#include <math.h>
int main() {
    int n, root;
    scanf("%d", &n);
    root = sqrt(n);
    printf(root * root == n ? "Yes\n" : "No\n");
    return 0;
}

In [ ]:
// SYED UNAIS 402 DIV-7 - Q 16
#include <stdio.h>
int main() {
    int time;
    scanf("%d", &time);
    if (time >= 21) printf("Good Night\n");
    else if (time >= 18) printf("Good Evening\n");
    else if (time >= 12) printf("Good Afternoon\n");
    else printf("Good Morning\n");
    return 0;
}

In [ ]:
// SYED UNAIS 402 DIV-7 - Q 17
#include <stdio.h>
int fact(int n) {
    int f = 1;
    for (int i = 1; i <= n; i++) f *= i;
    return f;
}
int main() {
    float sum = 0;
    for (int i = 1; i <= 5; i++) sum += (float)i / fact(i);
    printf("%.2f\n", sum);
    return 0;
}

In [ ]:
// SYED UNAIS 402 DIV-7 - Q 18
#include <stdio.h>
int main() {
    int weight;
    scanf("%d", &weight);
    printf("%.2f\n", weight * 0.033);
    return 0;
}

In [ ]:
// SYED UNAIS 402 DIV-7 - Q 19
#include <stdio.h>
int main() {
    int units;
    float bill = 0;
    scanf("%d", &units);
    if (units > 200) { bill += (units - 200) * 0.25; units = 200; }
    if (units > 100) { bill += (units - 100) * 0.2; units = 100; }
    bill += units * 0.15;
    printf("%.2f\n", bill);
    return 0;
}

In [ ]:
// SYED UNAIS 402 DIV-7 - Q 20
#include <stdio.h>
int main() {
    int books;
    float price, total;
    scanf("%d %f", &books, &price);
    if (books > 10) total = books * price * 0.75;
    else if (books >= 6) total = books * price * 0.8;
    else if (books >= 3) total = books * price * 0.9;
    else total = books * price;
    printf("%.2f\n", total);
    return 0;
}

In [ ]:
// SYED UNAIS 402 DIV-7 - Q 21
#include <stdio.h>
int main() {
    float p, r;
    int y;
    scanf("%f %f %d", &p, &r, &y);
    printf("%.2f\n", p * r * y / 100);
    return 0;
}

In [ ]:
// SYED UNAIS 402 DIV-7 - Q 22
#include <stdio.h>
int count(int n) {
    if (n == 0) return 0;
    return 1 + count(n / 10);
}
int main() {
    int n;
    scanf("%d", &n);
    printf("%d\n", count(n));
    return 0;
}

In [ ]:
// SYED UNAIS 402 DIV-7 - Q 23
#include <stdio.h>
void print(int n) {
    if (n > 25) return;
    printf("%d ", n);
    print(n + 1);
}
int main() {
    print(1);
    return 0;
}